
    <div class='row col-xs-12'>
      <p id="notice"><%= notice %></p>
      <h1>My Photos</h1>
    </div>
    <div class='row col-xs-12'>
      <% @pictures.each do |picture| %>
      <div id ="square" class = 'col-xs-2'>
        <%= link_to (image_tag (picture.url)), picture%>
      </div>
      <% end %>
    </div>
    <div class='row col-xs-12'>
      <%= link_to 'New Picture', new_picture_path %>
    </div>
    <script type="text/javascript">
    (function() {

    var img = document.getElementById('square').firstChild;
    img.onload = function() {
        if(img.height > img.width) {
            img.height = '100%';
            img.width = 'auto';
        }
    };

    }());
    </script>
